In [1]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [17]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [48]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO}

print(input_dict)

{'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple', 'Jeff Bezos': 'Amazon', 'Mukesh Ambani': 'RJIO'}

In [18]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 }

In [19]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [20]:
age = bio_data['Age']
print(age)

35

In [21]:
age = bio_data.get('Age')
print(age)

35

In [22]:
profession  =  bio_data.get('Profession','NA')
print(profession)

NA

In [23]:
input_dict = {'Name' : 'Monty' , 'Profession' : 'Singer' }
answer = input_dict.get('Label','NA')
print(answer)

NA

In [24]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [25]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

In [26]:
print('Profession' in bio_data)

True

In [27]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Bob Marley', 36, '5.6 ft', 'Music', 'Singer']

In [28]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])

In [29]:
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [30]:
del bio_data['Songs']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica'}

In [31]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [32]:
print(len(students_data))

5

In [38]:
#see all the details of students. 
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27], ['Manasi Sharma', 22]]

In [34]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [35]:
del students_data[2]
print(students_data)

{1: ['Shivam Bansal', 24], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [36]:
print(list(students_data.keys()))

[1, 3, 4, 5, 6]

In [79]:
dict_1 = {"Python":40, "R":45}
#del dict_1["R"]
#del dict_1('R':40)
#dict_1.delete('R':45)
del dict_1('R':40)

SyntaxError: invalid syntax (<ipython-input-79-b71c1b0e97ef>, line 5)

In [80]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [51]:

input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

print(list(input_dict.keys()))

['Jack Dorsey', 'Tim Cook', 'Jeff Bezos', 'Mukesh Ambani']